<!-- <footer id="sticky-footer" class="py-4 bg-dark">
  <div class="container text-center">
    <small class="text-white">Copyright &copy; Your Website</small>
  </div>
</footer> -->


<footer id="sticky-footer" class="page-footer bg-light">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4f71J6PdDB4" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pUQErA2SxPU" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-copyright" class="container-flex">
    <div class="row">
      <div class="col-sm-12 text-center py-3">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 font-small text-center text-black">
        <small>&copy; 2020 Best Buy. All rights reserved. BEST BUY, the BEST BUY logo, the tag design, MY BEST BUY, and BESTBUY.COM are trademarks of Best Buy and its affiliated companies.</small>
      </div>
    </div>
  </div>
</footer>
